.cardRow {
  display: flex;
  flex-wrap: wrap;
  min-height: 1250px;
  margin: 0 -10px;
}

.cardCol {
  padding: 0 10px;
  max-width: 44%;
  width: 100%;
  display: block;
  @media (min-width: 767px) {
    max-width: 30%;
  }
}
