.card {
  position: relative;
  display: block;
  color:#ffffff;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  min-width: 150px;
  strong {
    text-transform: uppercase;
    color: #ff6a6a;
    text-shadow: 1px 1px 1px #000;
  }

  h3 {
    display: flex;
    justify-content: space-between;
  }

  &:hover {

    .cardBody {
      opacity: 1;
      visibility: visible;
    }
  }

}
  .btnLike,
  .btnDelet {
    color: #000;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    transition: color .3s ease;
    text-shadow: 0px 0px 10px rgba(160, 224, 255,1);

    &:hover {
      color: #fff;
    }
  }

.date {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-size: 12px;
  max-width: 50%;
}

.cardImg {
  display: flex;
  object-fit: cover;
  min-width: 100%;
  min-height: 150px;
  img {
    border-radius: 8px;
    width: 100%;
  }
}

.subtitle {
  display: block;
  margin-bottom: 45px;
}

.title {
  cursor: pointer;
  transition: all .3 ease;
  display: inline-block;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 15px;
  cursor: pointer;
  &:hover {
    color: #5cbbff;
  }

  span {
    display: inline-block;
    padding-right: 5px;
  }
}

.cardBody {
  text-align: center;
  transition: all .3 ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: rgb(0,32,119);
  background: linear-gradient(0deg, rgba(0,32,119,.7) 0%, rgba(156,45,253,.7) 100%);
  justify-content: center;
  flex-direction: column;
  bottom: 0;
}


.description {
  padding: 10px;
  font-size: 12px;
   p {
     overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;
      }
}
