body {
  margin: 0;
  background: rgb(0, 97, 186);
  color: #fff;
  font-family: 'Cairo', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body::after {
  content: '';
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: radial-gradient(circle, rgba(0, 97, 186, 0.5) 9%, rgba(3, 31, 210, 0.8) 31%, rgba(10, 9, 120, 1) 91%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none !important
}

.page {
  transition: all .3s ease;
  cursor: pointer;
}

.page:hover {
  color: #00fdcd;
  text-shadow: 1px 1px 1px #9c88e6;
}

.popup-enter {
  opacity: 0;
  transition-delay: 3s, 3s;
  transform: scale(0.9);
}

.popup-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 3s, 3s;
  transition: opacity 300ms, transform 300ms;
}

.popup-exit {
  opacity: 1;
}

.popup-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition-delay: 3s, 3s;
  transition: opacity 300ms, transform 300ms;
}

.popup-enter-done {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.filter-enter {
  opacity: 0;
  transition-delay: 3s, 3s;
  transform: scaleX(0);
  transform-origin: left;
}

.filter-enter-active {
  opacity: 1;
  transform: translateX(1);
  transition-delay: 3s, 3s;
  transition: opacity 300ms, transform 300ms;
}

.filter-exit {
  opacity: 1;

}

.filter-exit-active {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 3s, 3s;
  transition: opacity 300ms, transform 300ms;
}

.filter-enter-done {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: opacity 300ms, transform 300ms;
}



.active-filter {
  position: relative;
  overflow: hidden;
}


.sortingclose {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 20px;
  position: relative;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 5;
}

.sortingclose.active span:first-child:after {
  left: 8px;
}

.sortingclose.active span:nth-child(2):after {
  left: 20px;
}

.sortingclose.active span:nth-child(3):after {
  left: 10px;
}

.sortingclose span {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  right: 0;
  background-color: #fff;
}

.sortingclose span:after {
  transition: left 0.15s ease;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  top: -3px;
  left: 15px;
}

.sortingclose span:nth-child(2) {
  top: 10px;
}

.sortingclose span:nth-child(2):after {
  left: 10px;
}

.sortingclose span:nth-child(3) {
  bottom: 0;
  top: auto;
}

.sortingclose span:nth-child(3):after {
  left: 25px;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column>div {
  background: grey;
  margin-bottom: 30px;
}

.header  {
  transition: background-color .15s ease, box-shadow .15s ease;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  
}

.header.is-sticky {
  background-color: rgb(0 32 119 / 70%);
  box-shadow: 2px 2px 9px rgb(81 104 203 / 80%);
}

.sorting {
  position: relative;
  padding-bottom: 20px;
  
}

.sorting.error-validation  .validation{
  display: block;
}

.validation {
  display: none;
  text-shadow: 0px 2px 1px rgb(0 0 0);
  color: #989ad8;
}