
.navLists {
	margin-left: auto;
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	li{
		margin-right: 15px;
		position: relative;
		padding-top: 11px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		text-transform: uppercase;
		transition: all .3s ease;
		color: #fff;
		text-shadow: 1px 1px 1px #302b31;
		display: inline-block;
		text-decoration: none;
		font-weight: 600;
		cursor: pointer;
		padding-bottom: 4px;
		border-bottom: 2px solid transparent;
		&:hover {
			color: #00F3FF;
			text-shadow:  1px 0px 4px rgb(3, 0, 15);
		}
	}
	
	span {
		font-size: 16px;
		line-height: 1;
	}
	
	.iconSearch {
		transform: rotate(45deg);
		display: inline-block;
		position: relative;
	}
}

.submenu {
	list-style: none;
	margin : 0;
	padding: 15px 0;
	position: absolute;
	top:100%;
	min-width: 200px;
	left: 0;
	transition: all .3s ease;
	transform: scaleY(0) ;
	transform-origin: top;
	opacity: 0;
	background: linear-gradient(180deg, #8c93cf 0%, #323042 90%);;
	z-index: 3;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	li {
		padding: 0 15px 0px;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: #fff;
		display: inline-block;
		border:none;
		font-weight: 400;
		text-transform: capitalize;
	}
}

li.hover {
	>a {
		color: #00F3FF;
		border-color: #00F3FF;
	}
	.submenu {
		transform: scaleY(1);
		opacity: 1;
	}
}
.logo {
    a {
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        color: #fff;
    }
}
.container {
	display: flex;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
 
